
@mixin imageInsteadOfText {
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
@mixin formInput {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #E1E1E1;
  font-size: 15px;
  line-height: 32px;
  padding: 0 10px;
  background: white;
  &:focus {
    outline: 2px solid #00CC99;
    box-shadow: 0 0 5px #00CC99;
  }
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;  // Not Supported: IE, Safari
}
body {
  max-width: 1024px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

// header
.nav {
  height: 28px;
  background: #f6f6f6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 13px;
  a {
    font-size: 14px;
    img {
      margin: 3px;
    }
  }
  .line-1-12 {
    width: 1px;
    height: 12px;
    background: #cccccc;
    margin: 8px;
  }
}

.navbar {
  height: 48px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 21px;
  
  h1 a {
    width: 170px;
    height: 36px;
    background: url('../../images/logo.png');
    @include imageInsteadOfText();
  }
  ul {
    height: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    li {
      height: 100%;
      padding: 0 1rem;
      display: flex;
      box-sizing: border-box;
      &:hover, &.active {
        border-bottom: 3px solid #00cc99;
      }
      a {
        color: #00cc99;
      }
    }
  }
}

.banner {
  height: 346px;
  background: url("../../images/banner.png");
  display: flex;
  align-items: center;
  .mask {
    width: 100%;
    background: #00000026;
    padding: 40px 45px 38px;
    p {
      color: white;
      font-size: 2.25rem;
      line-height: 3rem;
    }
  }
}

// courses
.courses {
  margin-top: 60px;
  padding: 0 17px;
  li {
    float: left;
    width: 300px;
    height: 330px;
    background: white;
    margin: 15px;
    padding: 24px 20px;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    border-radius: 3px;
    box-shadow: 0 2px 5px #aaa;
    &:hover {
      box-shadow: 0 2px 10px #aaa;
      cursor: pointer;
    }
  }
  .img-box {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
  }
  p {
    text-align: justify;
    font-size: 15px;
    line-height: 22px;
  }
}

// differences table
.diff {
  margin: 64px 84px 0;
  h2 {
    font-size: 24px;
    text-align: center;
  }
  table {
    margin-top: 30px;
    font-size: 15px;
    line-height: 36px;

    th, td {
      width: 20%;
      min-width: 170px;
      border-top: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd;
      padding-left: 22px;
      text-align: left;
    }
    th {
      background: #f7f7f7;
    }
    .highlight {
      color: #22b28e;
    }
  }
}

// feedback
.feedback {
  margin-top: 61px;
  padding: 30px 31px;
  background: linear-gradient(#00644B, #009872);
  color: white;
  h2 {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }
  form {
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
  }
  label {
    font-size: 15px;
    line-height: 24px;
  }
  .msg-box {
    width: 48%;
    textarea {
      @include formInput;
      height: calc(100% - 24px);
      resize: none;
    }
  }
  .info-box {
    width: 48%;
    input {
      @include formInput;
      margin-bottom: 13px;
    }
    .btn-submit {
      width: auto;
      padding: 5px 20px;
      margin-top: 8px;
      float: right;
      background: #00CC99;
      color: white;
      font-size: 15px;
      line-height: 24px;
      border: none;
      &:hover {
        background: #00CC99 * 0.9;
        transition: 0.2s;
        cursor: pointer;
      }
    }
  }
}

// footer
.footer {
  margin-top: 25px;
  padding: 0 21px 10px;
  img {
    float: left;
  }
  .contact {
    float: right;
    li {
      font-size: 15px;
      line-height: 24px;
    }
    a {
      display: inline;
    }
    .highlight {
      color: #E12D80;
    }
  }
}

// independent button
.totop {
  position: fixed;
  left: 19px;
  bottom: 22px;
  background: url('../../images/logo_symbol.png');
  width: 41px;
  height: 36px;
  border: none;
  &:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 1px #00CC99);
  }
}
